<?xml version="1.0"?>
<appSettings>
	<add key="ida:AppID" value="0555c04b-5f7c-4dd6-a559-8ad7c685b8f1" />
	<add key="ida:AppSecret" value="53-gdwPd_zqR.e_v8ydx7E~3emy_YAeAK1" />
	<add key="ida:RedirectUri" value="https://localhost:44364/" />
	<add key="ida:AppScopes" value="User.Read Mail.Read Calendars.Read" />
</appSettings>
